<div class="container" ng-controller="UserDetailCtrl as UDC">
    <div class="page-header">
        <h3>User Detail</h3>
    </div>
    
    <table class="user-detail">
        <tr>
            <td><b>Username:</b></td>
            <td ng-hide="UDC.updating">{{ UDC.user.username }}</td>
            <td ng-show="UDC.updating">
                <form name="editFormUname">
                    <input class="form-control" type="email" aria-describedby="sizing-addon3" ng-model="UDC.selectedUser.username"
                           ui-validate="{ unique : 'UDC.uniqueUsername($value, 0)' }" required/>
                    <span ng-show="editFormUname.$error.required && editFormUname.$dirty">Required</span>
                    <span ng-show="!editFormUname.$error.required && editFormUname.$error.email && editFormUname.$dirty">
                        Username must be a valid email.
                    </span>
                    <span ng-show="!editFormUname.$error.required && !editFormUname.$error.email && editFormUname.$error.unique
                                   && editFormUname.$dirty">
                        Username already exists.
                    </span>
                </form>
            </td>
        </tr>
        <tr>
            <td><b>Password:</b></td>
            <td ng-hide="UDC.updating">{{ UDC.user.password }}</td>
            <td ng-show="UDC.updating">
                <form name="editFormPword">
                    <input class="form-control" aria-describedby="sizing-addon3" ng-model="UDC.selectedUser.password" 
                           ng-minlength="8" ng-pattern="/(?=.*?[0-9])/" required/>
                </form>
            </td>
        </tr>
        <tr>
            <td><b>Created:</b></td>
            <td>{{ UDC.user.created | date:'medium' }}</td>
        </tr>
        <tr>
            <td style="padding-right: 8px;"><b>Last Updated:</b></td>
            <td>{{ UDC.user.updated | date:'medium' }}</td>
        </tr>
    </table>
    
    <div ng-hide="UDC.updating">
        <button class="btn btn-default btn-sm" ng-click="UDC.editUser()">
            <span class="glyphicon glyphicon-pencil"></span>   Edit
        </button>
    </div>
    
    <div ng-show="UDC.updating">
        <button class="btn btn-success btn-sm" ng-disabled="!editFormUname.$valid || !editFormPword.$valid" ng-click="UDC.updateUser(); updating = false">
            Save
        </button>
        <button class="btn btn-default btn-sm" ng-click="UDC.updating = false">
            Cancel
        </button>
        <button class="btn btn-danger btn-sm" ng-click="deleteUser(user)">
            <span class="glyphicon glyphicon-trash"></span>   Delete user
        </button>
    </div>
    
    <hr>
    <h4>Tokens</h4>
    
    <my-tokens></my-tokens>
</div>