<div class="container" ng-controller="UserListCtrl as ULC">
    <div class="page-header">
        <h3>Users</h3>
    </div>
    
    <div>
        <table class="table table-striped" st-table="ULC.displayedUsers" st-safe-src="ULC.users">
            <thead>
                <tr>
                    <th st-ratio="25" st-sort="username">Username</th>
                    <th st-ratio="25" st-sort="password">Password</th>
                    <th st-ratio="20" st-sort="created" st-sort-default="true">Created</th>
                    <th st-ratio="20" st-sort="updated">Updated</th>
                    <th st-ratio="10"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in ULC.displayedUsers">
                    <td st-ratio="25">{{ user.username }}</td>
                    <td st-ratio="25">{{ user.password }}</td>
                    <td st-ratio="20">{{ user.created | date:'short'}}</td>
                    <td st-ratio="20">{{ user.updated | date:'short'}}</td>
                    <td st-ratio="10">                        
                        <a class="btn btn-default btn-sm" href="#/users/{{user.id}}">
                            Details
                        </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="text-center">
                        <div st-pagination="" st-items-by-page="ULC.itemsByPage" st-displayed-pages="7"></div>
                    </td>
                    <td colspan="1" class="text-right">
                        <b>Users per page</b>
                    </td>
                    <td colspan="1" class="text-left">    
                        <input class="form-control input-sm" type="number" ng-model="ULC.itemsByPage">
                    </td>
                </tr>
            </tfoot>
        </table>
        
        <div class="text-right">
            
        </div>
    </div>

    <hr>

    <h4>Create New User</h4>

    <form class="form-horizontal" name="userForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">Username/Email:</label>
            <div class="col-sm-10">
                <input type="email" name="username" ng-model="ULC.username" ui-validate="{ unique : 'ULC.uniqueUsername($value, 1)' }" required/>
                <span ng-show="userForm.username.$error.required && userForm.username.$dirty">Required</span>
                <span ng-show="!userForm.username.$error.required && userForm.username.$error.email && userForm.username.$dirty">
                    Username must be a valid email.
                </span>
                <span ng-show="!userForm.username.$error.required && !userForm.username.$error.email && userForm.username.$error.unique 
                               && userForm.username.$dirty">
                    Username already exists.
                </span>
            </div>
        </div> 
        <div class="form-group">
            <label class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input name="password" ng-model="ULC.password" ng-minlength="8" ng-pattern="/(?=.*?[0-9])/" required/>
                <span ng-show="userForm.password.$error.required && userForm.password.$dirty">Required</span>
                <span ng-show="!userForm.password.$error.required && userForm.password.$error.minlength && userForm.password.$dirty">
                    Passwords must be at least 8 characters.
                </span>
                <span ng-show="!userForm.password.$error.require && !userForm.password.$error.minlength && userForm.password.$error.pattern 
                               && userForm.password.$dirty">
                    Passwords must contain at least one numeric character.
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-success" ng-disabled="!userForm.$valid" ng-click="ULC.addUser()">
                    <span class="glyphicon glyphicon-save"></span>  Save New User
                </button>
            </div>
        </div>
    </form>
</div>